@import "../../../color-variables.scss";

.input-box {
    // background: red;
    width: 100%;
    max-width: 290px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        pointer-events: none;
        position: absolute;
        background: $bg-primary;
        color: white;
        width: auto;
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
        transform: translateY(140%);
        font-family: "Inter", sans-serif;
        font-size: 16px;
    }

    .input {
        background: transparent;
        color: white;
        width: 100%;
        max-width: 290px;
        height: 50px;
        margin-top: 10px;
        border: none;
        border: 3px solid $color-primary;
        border-radius: 6px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        // text-indent: 5px;
        text-align: center;
    }

    .input:focus {
        outline: none;
    }

    .password-visibility {
        cursor: pointer;
        position: absolute;
        //background: $color-tertiary;
        background: linear-gradient(140deg, $color-secondary, $color-tertiary);
        width: 30px;
        height: 25px;
        margin-left: 290px;
        border-radius: 20px;
        font-size: 14px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.331);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i {
        color: $bg-primary;
    }
}

.text-up-true {
    animation: text-up-anim 0.5s forwards;
}

.text-up-false {
    animation: text-down-anim 0.5s forwards;
}

@keyframes text-up-anim {
    0% {
        transform: translateY(140%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes text-down-anim {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(140%);
    }
}